/* begin page */
html {
  scroll-behavior: smooth;
}

body,
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: scroll;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  font-family: $font;

  &--2 {
    background-color: #000;
  }

  &--3 {
    background-color: #000;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: #000;
  }
}
/* end page */
