{# begin main-stay #}
<section class="main-stay">
  <h2 class="main-stay__title">
    <span>S</span>
    <span>T</span>
    <span>A</span>
    <span>Y</span>
  </h2>
  <div class="main-stay__grid">
    <div class="main-stay__item">
      <div class="main-stay__item-title">Palais VendOme</div>
      <a class="button button--ghost main-stay__item-button" href="" title="">Learn more</a>
      <picture class="main-stay__item-banner">
        <img class="js-lazy main-stay__item-banner-img" data-src="images/main-stay/main-stay__banner-1.png" alt="">
      </picture>
    </div>
    <div class="main-stay__item">
      <div class="main-stay__item-title">
        Le Royal MEridien Place <br>
        VendOme, Lusail
      </div>
      <a class="button button--ghost main-stay__item-button" href="" title="">Learn more</a>
      <picture class="main-stay__item-banner">
        <img class="js-lazy main-stay__item-banner-img" data-src="images/main-stay/main-stay__banner-2.png" alt="">
      </picture>
    </div>
  </div>
</section>
{# end main-stay #}
