{# begin main-cinema #}
<section class="main-cinema">
  <div class="wrapper main-cinema__wrapper">
    <img class="main-cinema__logo" src="images/main-cinema/main-cinema__logo.png" alt="">
    <div class="main-cinema__text">The complete entertainment experience that will, forever, change the way you view cinema</div>

    <div class="main-cinema__media">
      <div class="main-cinema__media-wrap">
        <div class="main-cinema__media-content">
          <img class="main-cinema__media-img" src="images/main-cinema/main-cinema__banner.png" alt="">
          <video class="main-cinema__media-video" src="resources/video/mufasa.mp4" muted loop></video>
        </div>
      </div>
    </div>

    <a class="button button--ghost main-cinema__button" href="" title="">
      Learn more
    </a>
  </div>
</section>
{# end main-cinema #}
