<!DOCTYPE html>
<html lang="ru">
  <head>
    {% set pageTitle = 'main' %}
    {% include "components/complex/head/head.html" %}
  </head>

  <body class="page">
    {# begin header #}
    {% include "components/complex/header/header--2.html" %}
    {# end header #}

    <div class="page__content">


      {% include "components/complex/hero2/hero2.html" %}
      {% include "components/complex/brands/brands.html" %}



    </div>

    {# begin footer #}
    {# include "components/complex/footer/footer.html" #}
    {# end footer #}
  </body>
</html>
