<!DOCTYPE html>
<html lang="ru">
  <head>
    {% set pageTitle = 'main' %}
    {% include "components/complex/head/head.html" %}
  </head>

  <body class="page">
    {# begin header #}
    {% include "components/complex/header/header.html" %}
    {# end header #}

    <div class="page__content">
      {% include "components/complex/hero/hero.html" %}
      {% include "components/complex/main-news/main-news.html" %}
      {% include "components/complex/main-cinema/main-cinema.html" %}
      {% include "components/complex/main-gift/main-gift.html" %}
      {% include "components/complex/main-stay/main-stay.html" %}

      {% from "components/embedded/icon/icon.html" import icon %}

      {# begin life #}
      <div class="life">
        <div class="life__start">
          <div class="life__start-title">
            <div class="life__start-title-left">ADD</div>
            <img class="life__start-title-center" src="images/life/life__start-title-center.svg" alt="">
            <div class="life__start-title-right">TO LIFE</div>
          </div>
          <div class="life__start-desc">Our doors take you into a journey like no other!</div>
        </div>
        <div class="life__container">
          <div class="life__item life__item--1">
            <div class="life__item-inner">
              <div class="life__item-img-container">
                <img class="life__item-img" src="images/life/life__item-img--1.jpg" alt="">
              </div>
              <div class="life__item-desc-container">
                <div class="life__item-desc">more than 300 shops and boutiques</div>
              </div>
              <div class="life__item-title-container">
                <div class="life__item-title">SHOP</div>
              </div>
              <div class="life__item-num">01</div>
              <a class="life__item-link" href="" title="">
                {{ icon(mod = "life__item-link-icon", svg = "link") }}
              </a>
            </div>
          </div>
          <div class="life__item life__item--2">
            <div class="life__item-inner">
              <div class="life__item-img-container">
                <img class="life__item-img" src="images/life/life__item-img--2.jpg" alt="">
              </div>
              <div class="life__item-desc-container">
                <div class="life__item-desc">The best cuisines in the world</div>
              </div>
              <div class="life__item-title-container">
                <div class="life__item-title">DINE</div>
              </div>
              <div class="life__item-num">02</div>
              <a class="life__item-link" href="" title="">
                {{ icon(mod = "life__item-link-icon", svg = "link") }}
              </a>
            </div>
          </div>
          <div class="life__item life__item--3">
            <div class="life__item-inner">
              <div class="life__item-img-container">
                <img class="life__item-img" src="images/life/life__item-img--3.jpg" alt="">
              </div>
              <div class="life__item-desc-container">
                <div class="life__item-desc">Entertainment for the whole family</div>
              </div>
              <div class="life__item-title-container">
                <div class="life__item-title">ENTERTAINMENT</div>
              </div>
              <div class="life__item-num">03</div>
              <a class="life__item-link" href="" title="">
                {{ icon(mod = "life__item-link-icon", svg = "link") }}
              </a>
            </div>
          </div>
          <div class="life__item life__item--4">
            <div class="life__item-inner">
              <div class="life__item-img-container">
                <img class="life__item-img" src="images/life/life__item-img--4.jpg" alt="">
              </div>
              <div class="life__item-desc-container">
                <div class="life__item-desc">services for you</div>
              </div>
              <div class="life__item-title-container">
                <div class="life__item-title">SERVICES</div>
              </div>
              <div class="life__item-num">04</div>
              <a class="life__item-link" href="" title="">
                {{ icon(mod = "life__item-link-icon", svg = "link") }}
              </a>
            </div>
          </div>
        </div>
      </div>
      {# end life #}

      {% include "components/complex/main-cinema/main-cinema.html" %}
      {% include "components/complex/main-gift/main-gift.html" %}
    </div>

    {# begin footer #}
    {% include "components/complex/footer/footer.html" %}
    {# end footer #}
  </body>
</html>
