<!DOCTYPE html>
<html lang="ru">
  <head>
    {% set pageTitle = 'main' %}
    {% include "components/complex/head/head.html" %}
  </head>

  <body class="page">
    {# begin header #}
    {% include "components/complex/header/header.html" %}
    {# end header #}

    <div class="page__content">
      {% include "components/complex/hero/hero.html" %}
      {% include "components/complex/main-news/main-news.html" %}
    </div>

    {# begin footer #}
    {% include "components/complex/footer/footer.html" %}
    {# end footer #}
  </body>
</html>
