/*
  font-weight:
    100 Thin (Hairline)
    200 Extra Light (Ultra Light)
    300 Light
    400 Normal
    500 Medium
    600 Semi Bold (Demi Bold)
    700 Bold
    800 Extra Bold (Ultra Bold)
    900 Black (Heavy)

  font-style: normal | italic | oblique
*/

@mixin font-face($weight, $name, $style, $path) {
  @font-face {
    font-weight: $weight;
    font-family: $name;
    font-style: $style;
    src: url("../fonts/#{ $path }.woff2") format("woff2"),
         url("../fonts/#{ $path }.woff") format("woff");
    font-display: swap;
  }
}

// cofo normal
@include font-face(300, montserrat, normal, 'montserrat/Montserrat-Light');
@include font-face(300, montserrat, italic, 'montserrat/Montserrat-LightItalic');
@include font-face(400, montserrat, normal, 'montserrat/Montserrat-Regular');
@include font-face(400, montserrat, italic, 'montserrat/Montserrat-Italic');
@include font-face(500, montserrat, normal, 'montserrat/Montserrat-Medium');
@include font-face(500, montserrat, italic, 'montserrat/Montserrat-MediumItalic');
@include font-face(600, montserrat, normal, 'montserrat/Montserrat-SemiBold');
@include font-face(600, montserrat, italic, 'montserrat/Montserrat-SemiBoldItalic');
@include font-face(300, bodoniclassic, normal, 'bodoniclassic/BodoniClassicText-CyrillicLight');
@include font-face(400, bodoniclassic, normal, 'bodoniclassic/BodoniClassic-CyrillicRoman');
/* end fonts */
