{% from "components/embedded/icon/icon.html" import icon %}

{# begin navigation #}
{% macro navigation(mod) %}
<div class="navigation {{ mod }}">
  <button class="navigation__btn navigation__btn--prev">
    <span class="navigation__btn-text">Назад</span>
    {{ icon(mod = 'navigation__btn-icon', svg = 'angel') }}
  </button>
  <button class="navigation__btn navigation__btn--next">
    <span class="navigation__btn-text">Вперед</span>
    {{ icon(mod = 'navigation__btn-icon', svg = 'angel') }}
  </button>
</div>
{% endmacro %}
{# end navigation #}
