/* begin footer */
.footer {
  position: relative;
  z-index: 1;
  padding-top: 54px;
  padding-bottom: 64px;
  overflow-x: clip;
  background-color: #0F1921;

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__video {
    position: absolute;
    bottom: 90px;
    left: calc(50% + 472px);
    z-index: 1;
    width: 960px;
    height: 530px;
    transform: translateX(-50%);
  }

  &__banner {
    position: relative;
    z-index: 2;
    width: 1924px;
    height: 1120px;
  }

  &__banner-img {
    position: relative;
    z-index: 2;
    margin: 0 auto;
  }
}
/* end footer */
