/* begin hero-anim */
.hero-anim {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &__bg {
    position: relative;
    width: 100%;
    height: 100vh;
    opacity: 0.75;
  }

  &__front-container {
    position: absolute;
    left: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    width: 100%;
    transform: translateX(-50%);
  }

  &__front {
    height: auto;
  }

  &__start-text-container {
    position: absolute;
    top: 33.5vh;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
  }

  &__start-text-suptitle {
    margin: 0 0 25px;
    color: #fff;
    font-weight: 300;
    font-size: 25.49px;
    text-align: center;
    text-transform: uppercase;
  }

  &__start-text-title {
    color: #fff;
    font-weight: 300;
    font-size: 72px;
    line-height: 110%;
    text-align: center;
    text-transform: uppercase;
  }

  &__start-text-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px 0 0;
  }

  &__start-text-scroll-icon {
    width: 14px;
    height: 19px;
    margin: 0 11px 0 0;
    fill: #fff;
  }

  &__start-text-scroll-text {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
  }

  &__bg2 {
    position: absolute;
    top: 100vh;
    z-index: 5;
    width: 27.61vw;
    height: 37vh;
    object-fit: cover;
    border-radius: 1600px 1600px 0 0;
  }

  &__finish-text-container {
    position: absolute;
    top: 33.5vh;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
  }

  &__finish-text-suptitle {
    margin: 0 0 25px;
    color: #fff;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
  }

  &__finish-text-title {
    color: #fff;
    font-weight: 300;
    font-size: 72px;
    line-height: 110%;
    text-align: center;
    text-transform: uppercase;
  }

  &__start-title {
    position: absolute;
    top: 40.5vh;
    left: 50%;
    z-index: 99;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    transform: translateX(-50%);
  }

  &__start-title-left {
    color: #fff;
    font-weight: 400;
    font-size: 86px;
    text-transform: uppercase;
  }

  &__start-title-center {
    width: 394px;
    height: 257px;
    margin: 6px 1px -57px -88px;
  }

  &__start-title-right {
    color: #fff;
    font-weight: 400;
    font-size: 86px;
    text-transform: uppercase;
  }

  &__slider {
    position: absolute;
    top: 54%;
    left: 6.3vw;
    z-index: 5;
    width: 660px;
    height: 505px;
    transform: translateY(-50%);
    opacity: 0;
  }

  &__slider-img {
    width: 100%;
    height: 100%;
  }
}
/* end hero-anim */
