{% from "components/embedded/navigation/navigation.html" import navigation %}

{# begin main-news #}
<section class="main-news">
  <div class="wrapper main-news__wrapper">
    <div class="main-news__left">
      <div class="main-news__title">
        WHAT’S <br>
        HAPPENING
      </div>

      <div class="main-news__info">
        <div class="main-news__info-date-wrap">
          <div class="main-news__info-date"></div>
          <hr class="main-news__info-date-hr">
        </div>
        <div class="main-news__info-title"></div>
        <div class="main-news__info-text"></div>
        <a class="button button--ghost main-news__info-link" href="" title="">Learn more</a>
      </div>
    </div>

    <div class="main-news__right">
      <div class="swiper main-news__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide main-news__item">
            <a class="main-news__item-img-wrap-link" href="" title="">
              <picture class="main-news__item-img-wrap">
                <img class="js-lazy main-news__item-img" data-src="images/main-news/main-news__img-1.jpg" alt="">
              </picture>
            </a>
            <div class="main-news__item-hidden">
              <div class="main-news__item-date">19.01.2025</div>
              <div class="main-news__item-title">Double the Cars, Double <br> the Celebration! </div>
              <div class="main-news__item-text">Two EXEED cars are waiting for the lucky winners in this week’s raffle<br> draw at Shop Qatar. Your odds have never been better!</div>
              <a class="main-news__item-link" href="" title="">Learn more</a>
            </div>
          </div>
          <div class="swiper-slide main-news__item">
            <a class="main-news__item-img-wrap-link" href="" title="">
              <picture class="main-news__item-img-wrap">
                <img class="js-lazy main-news__item-img" data-src="images/main-news/main-news__img-2.jpg" alt="">
              </picture>
            </a>
            <div class="main-news__item-hidden">
              <div class="main-news__item-date">22.01.2025</div>
              <div class="main-news__item-title">Double the Cars!</div>
              <div class="main-news__item-text">Your odds have never been better!</div>
              <a class="main-news__item-link" href="" title="">Learn more</a>
            </div>
          </div>
          <div class="swiper-slide main-news__item">
            <a class="main-news__item-img-wrap-link" href="" title="">
              <picture class="main-news__item-img-wrap">
                <img class="js-lazy main-news__item-img" data-src="images/main-news/main-news__img-1.jpg" alt="">
              </picture>
            </a>
            <div class="main-news__item-hidden">
              <div class="main-news__item-date">19.01.2025</div>
              <div class="main-news__item-title">Double the Cars, Double <br> the Celebration! </div>
              <div class="main-news__item-text">Two EXEED cars are waiting for the lucky winners in this week’s raffle<br> draw at Shop Qatar. Your odds have never been better!</div>
              <a class="main-news__item-link" href="" title="">Learn more</a>
            </div>
          </div>
          <div class="swiper-slide main-news__item">
            <a class="main-news__item-img-wrap-link" href="" title="">
              <picture class="main-news__item-img-wrap">
                <img class="js-lazy main-news__item-img" data-src="images/main-news/main-news__img-2.jpg" alt="">
              </picture>
            </a>
            <div class="main-news__item-hidden">
              <div class="main-news__item-date">22.01.2025</div>
              <div class="main-news__item-title">Double the Cars!</div>
              <div class="main-news__item-text">Your odds have never been better!</div>
              <a class="main-news__item-link" href="" title="">Learn more</a>
            </div>
          </div>
        </div>

        {{ navigation(mod = 'main-news__swiper-nav') }}
      </div>

      <div class="main-news__right-content">
        <div class="main-news__right-text">Discover events, offers, new brands, <br>
          the latest collections and more</div>
          <a class="main-news__right-link" href="" title="">
            <img class="js-lazy main-news__right-link-img" data-src="images/main-news/main-news__link.png" alt="">
          </a>
      </div>
    </div>
  </div>
</section>
{# end main-news #}
