{# begin main-gift #}
<section class="main-gift">
  <div class="wrapper main-gift__wrapper">
    <div class="main-gift__left">
      <div class="main-gift__left-head">
        <h2 class="main-gift__title">
          Gift 
          <span>card</span>
        </h2>
        <div class="main-gift__suptitle">
          PLACE VENDÔME <br>
          Gift card <br>
          in now available
        </div>
      </div>
      <a class="button button--ghost main-gift__button" href="" title="">Learn more</a>
    </div>

    <div class="main-gift__right">
      <picture class="main-gift__banner">
        <img class="js-lazy" data-src="images/main-gift/main-gift__banner.png" alt="">
      </picture>
    </div>
  </div>
</section>
{# end main-gift #}
