/* begin swiper-anim */
.swiper-anim {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  margin: -970px 0 140px;
  background-color: transparent;

  &__el {
    width: 575px;
    height: 757px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 9999px 9999px 0 0;

    .swiper-slide {
      display: flex;
      justify-content: center;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(3) translateY(11px);
  }
}
/* end swiper-anim */
